@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Varela+Round&display=swap');

:root {
    --white: #eeeeee;
    --teal: #00f7ff;
    --dark-teal: #5acbcf;
    --light-grey: #686d76;
    --dark-grey: #373a40;
}
h1 {
    color: var(--white);
    font-family: 'Prompt', sans-serif;
    font-size: 10vw;
    line-height: 0;
    opacity: 0;
    animation-name: fade-in-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    padding-top: 10%;
    cursor: default;
}
h2 {
    color: var(--teal);
    font-family: 'Prompt', sans-serif;
    font-size: 6vw;
    line-height: 0;
    opacity: 0;
    animation-name: fade-in-top;
    animation-duration: 1s;
    animation-delay: 0.25s;
    animation-fill-mode: forwards;
    margin-bottom: 58vh;
    cursor: default;
}
h3 {
    color: var(--white);
    font-family: 'Prompt', sans-serif;
    font-size: 2.5vw;
    cursor: default;
}
p {
    color: var(--white);
    font-family: 'Prompt', sans-serif;
    font-size: 1vw;
    cursor: default;
}
a {
    color: var(--white);
    font-family: 'Prompt', sans-serif;
    font-size: 1.5vw;
    cursor: pointer;
    text-decoration: none;
}
body {
    background-color: var(--dark-grey);
    text-align: center;
    padding: 0;
    margin: 0;
    border: 0;
}
hr {
    height: 3px;
    border: none;
    background-color: var(--white);
    opacity: 0;
    width: 50%;
    animation-name: width-scale-in;
    animation-duration: 1s;
    animation-delay: 0.35s;
    animation-fill-mode: forwards;
}
.left-section {
    width: 50vw;
    /* background-color: #eeeeee2c; */
    margin: auto;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
    ". .";
    padding: 1vh;
}
.button {
    width:25%;
    height:10%;
    background-color: var(--dark-teal);
    color: var(--white);
    font-family: 'Prompt', sans-serif;
    font-size: 2vw;
    border-radius: 10px;
    padding: 1vh 1vw 1vh 1vw;
    line-height: 25vh;
    cursor: pointer;
}
footer {
    width: 100%;
    height: 100%;
}
.side-images {
    width:20vw;
    cursor: default;
    vertical-align: middle;
    margin-top: 12%;
}
header {
    top: 0;
    position: absolute;
    width: 100%;
    height: 7vh;
    background-color: var(--dark-grey);
    animation-name: scale-in-top;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
    opacity: 0;
    display: flex;
    justify-content: space-evenly;
    z-index: 1;
    padding-top: 1vh;
}
#particles-js {
    position: absolute;
    width: 98vw;
    height: 98vh;
    top: 0;
    z-index: -1;
    position:fixed;
}
@media screen and (max-width:  600px) {
    .side-images{display: none}
    .left-section{display: block;}
    .button {border: 1vw; line-height: 5vh; font-size: 4vw; padding: 1vh 2vw 1vh 2vw}
    h1 {font-size: 20vw}
    h2 {font-size: 12vw; margin-bottom: 10vh;}
    h3 {font-size: 7vw}
    p {font-size: 3vw}
}

@keyframes fade-in-top {
    0% {opacity: 0; left: 50px}
    100% {opacity: 1;}
}
@keyframes width-scale-in {
    0% {opacity: 0; width: 0}
    100% {opacity: 1}
}
@keyframes scale-in-top {
    0% {opacity: 0; height: 0}
    100% {opacity: 1}
}