@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
/* font-family: 'Patrick Hand', cursive; */
#main-body {
  /* background-color:#1E8875; */
  display:flex;
  justify-content:center;
}
body {
  border:none;
  padding:none;
  background-color:#07473c;
  background-image: url("../images/Back2.png");
  background-attachment:fixed;
  background-size: cover;
  text-align:center;
}
#page {
  background-color:#1f1f1f88;
  width: 50vmax;
  border-radius:50px;
}
#second-body {
  display:flex;
  justify-content:center;

}
h1 {
  color:white;
  font-family: 'Press Start 2P', cursive;
  font-size: 4vmax;
  text-align:center;
  line-height: 0;
  border:none;
  padding:none;
}
p {
  color:white;
  font-family: 'Rubik', sans-serif;
  text-align:center;
  font-size:1.5vmax;
  margin:auto 7vmax auto 7vmax;
}
h3 {
  color:white;
  font-family: 'Rubik', sans-serif;
  text-align:center;
  font-size:2vmax;
  margin:auto 7vmax auto 7vmax;
}
a {
  color:rgb(0, 234, 255);
  font-family: 'Rubik', sans-serif;
  text-align:center;
  font-size:1.5vmax;
  display:inline;
  text-decoration: none;
}
#header {
  width:50vmax;
  border-radius:50px;
}
#trailer {
  width:35vmax;
  height:20vmax;
  margin-top: 50px;
}
#background {
  position:absolute;
  z-index: -1;
  opacity:0.1;
  height:260%;
}
#bandcamp {
  width: 100%;
  padding-left: 12%;
  padding-right: 12%;
}
.footer {
  font-size:1vmax;
  margin-bottom:1vmax;
}
hr {
  width:25vmax;
}
#particles-js {
  position: absolute;
  width: 95%;
  height: 200%;
  margin: 0;
  padding: 0;
  z-index: -1;
  opacity: 0.5;
}
#devlog {
  width:35vmax;
  height:20vmax;
}
#links {
  display: flex;
  justify-content: space-between;
  padding-left: 15%;
  padding-right: 15%;
}
/* parallax */
